/*
 * General
 */

* {
    font-family: monospace;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*
 * Menu
 */

/* Navigation bar itself */
#menu {
    width: 100%;
    display: block;
    overflow: hidden;
    border: 1px solid black;
    vertical-align: center;
}

.controls ol {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.menu a,p {
    padding: 10px;
}

/* "Normal" menu items */
#menu a, #menu span {
    float: left;
    display: block;
    padding: 10px;
}

/* Right floating menu items */
#menu a.right {
    float: right;
}

/*
 * Crumbs navigation
 */
.crumbs ol {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.crumb a::after {
    display: inline-block;
    content: "/";
    color: #000;
    padding: 0 1ex;
}

.commit-msg {
    width: 50ch;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.commit-id {
    min-width: 12ch;
}

#mfgd-table {
    border-collapse: collapse;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    text-overflow:ellipsis;
    overflow:hidden;
}

#mfgd-table tr.underline {
    border-bottom: 1px solid black;
}

#mfgd-table td {
    padding: 3px;
}

main {
    padding-bottom: 10px;
    width: 60%;
}

.subtree {
    font-weight: bold;
}

.icon {
    align: left;
    padding-right: 1ch;
    align: left;
    float: left;
    width: 15px;
    height: 15px;
}

.current-branch img {
    padding-left: 1ch;
}

.branch, #switch-branch {
    color: green;
    font-size: 13px;
}

.blob a {
    color: black;
}

#switch-branch {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid black;
    background-color: white;
}

@media only screen and (max-width: 1200px) {
    body {
        width: 100%
    }

    main {
        padding-bottom: 10px;
        width: 100%;
    }

    .commit-msg {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    main {
        padding-bottom: 10px;
        width: 60%;
    }

    #menu {
        width: 60%;
    }
}

/* Line numbers for the blob view */
.line-no {
    user-select: none;
}

.line-no a {
    text-decoration: none;
}

.line-no a:hover {
    text-decoration: underline;
}
