/*
 * Blob page style
 */

.blob_box {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 3px;
}

.blob_code * {
    font-family: monospace;
}

.line-no {
    user-select: none;
}
