<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Page title !-->
		<title>{% block title_block %}$PLACEHOLDER_TITLE${% endblock %}</title>
        <!-- Global style !-->
        <link rel="stylesheet" href="{% static 'style/global.css' %}" />
        <!-- Page specific headers !-->
        {% block head_block %}{% endblock %}
	</head>

	<body>
		<div id="global_nav">
			{% if user.is_authenticated %}
				<a class="right" href="{% url 'logout' %}">Logout</a>
                {% if user.is_superuser %}
                    <a class="right" href="{% url 'manage' %}">Manage Repositories</a>
                {% endif %}
				<span class="right">Hello: {{ user.username }}</span>
			{% else %}
				<a class="right" href="{% url 'login' %}">Login</a>
            	<a class="right" href="{% url 'register' %}">Register</a>
			{% endif %}
            <a href="{% url 'index' %}">Dashboard</a>
            {% if repo_name %}
            <a href="{% url 'view' repo_name oid '' %}">Tree</a>
            <a href="{% url 'chain' repo_name oid %}">Commits</a>
                {% if can_manage %}
                <a href="{% url 'manage_repo' repo_name %}">Manage</a>
                {% endif %}
            {% endif %}
        </div>

        <div id="global_wrap">
            <div id="global_center">
        		{% block body_block %}
        			$PLACEHOLDER_BODY$
        		{% endblock %}
            </div>
        </div>
	</body>
</html>
