<!DOCTYPE html>
{% load static %}

<html>

	<head lan="eng">
		<meta charset="utf-8">
		<title>Tree</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Page style !-->
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <!-- highlight.js !-->
        <link rel="stylesheet" href="{% static 'highlight/vs.css' %}">
        <script src="{% static 'highlight/highlight.min.js' %}"></script>

        {% block head_block %}
        {% endblock %}
	</head>

	<body>
		<nav id="menu">
			{% if user.is_authenticated %}
				<span>Hello: {{ user.username }}</span>
				<a class="right" href="{% url 'logout' %}">Logout</a>
			{% else %}
				<a href="{% url 'login' %}">Login</a>
            	<a href="{% url 'register' %}">Register</a>
			{% endif %}
            {% if repo_name %}
            <a href="{% url 'index' %}">Index</a>
            <a href="{% url 'view' repo_name oid '' %}">Tree</a>
            <a href="{% url 'chain' repo_name oid %}">Commits</a>
            {% endif %}
        </nav>

		{% block body_block %}
			This is the body_block's default content.
		{% endblock %}

	</body>

</html>
