{% extends 'base.html' %}
{% load static %}

{% block body_block %}
{% include "crumbs.html" %}
<main>
    <article>
        {% if code %}
        <pre><code id="highlight_code">{{ code }}</code></pre>
        <script>
            var code = document.getElementById("highlight_code");
            code.classList.add("{{ path }}".split('.').pop());
            hljs.highlightAll();
        </script>
        {% else %}
        File too large to be displayed.
        {% endif %}
    </article>
</main>
{% endblock %}
