{% load static %}
{% load create_crumbs %}

<!DOCTYPE html>
<html>
    <head>
        <title>Binary Blob</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Page style !-->
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'hex.css' %}">
        <!-- highlight.js !-->
        <link rel="stylesheet" href="{% static 'highlight/vs.css' %}">
        <script src="{% static 'highlight/highlight.min.js' %}"></script>
    </head>
    <body>
        <nav class="menu">
            <a href="commits/">Commits</a>
            <a href="tree/">Tree</a>
            <a href="login/">Login</a>
        </nav>
        {% create_crumbs oid path branches %}
        {% if code %}
        <table id="hex-dump">
            {% for offset, chunks, ascii in code %}
            <tr>
                <td>{{ offset }}</td>
                <td>{{ chunks }}</td>
                <td>{{ ascii }}</td>
            {% endfor %}
        </table>
        {% endif %}
    </body>
</html>
