{% extends 'base.html' %}
{% load static %}
{% load fmt_date %}

{% block title_block %}
Commits
{% endblock %}

{% block body_block %}
<table class="mfgd_table">
    <tr>
        <th>Hash</th>
        <th>Subject</th>
        <th>Author</th>
        <th>Date</th>
    </tr>
    {% for commit in commits %}
    <tr>
        <td class="commit-id"><a href="{% url 'info' repo_name commit.oid %}">{{ commit.short_oid }}</a></td>
        <td class="commit-msg">{{ commit.message }}</td>
        <td>{{ commit.committer.name }}</td>
        <td class="commit-date">
            {% fmt_date commit.committer.timestamp %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
