{% extends 'base.html' %}
{% load static %}
{% load fmt_date %}

{% block title_block %}
Commit info - {{ oid }}
{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'style/commit.css' %}" />
<link rel="stylesheet" href="{% static 'pygments.css' %}" />
{% endblock %}

{% block body_block %}

<div class="commit_box">
    <table class="commit_info">
        <tr>
            <td>From:</td>
            <td>{{ commit.committer.name }} &lt;{{ commit.committer.email }}&gt;</td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>
                {% fmt_datetime commit.committer.timestamp %}
            </td>
        </tr>
        <tr>
            <td class="commit_msg" colspan="2">
                <pre>{{ commit.message }}</pre>
            </td>
        </tr>
    </table>
    <a class="commit_inspect" href="{% url 'view' repo_name oid '' %}">Inspect Tree</a>
    <table class="commit_modified">
    {% for change in changes %}
    <tr>
        <td>{{ change.status }}</td>
        <td>{{ change.insertion }}</td>
        <td>{{ change.deletion }}</td>
        {% if not change.deleted %}
        <td><a href="{% url 'view' repo_name oid change.path %}">{{ change.path }}</a></td>
        {% else %}
        <td>{{ change.path }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
</div>

{% for change in changes %}
    {% if change.patch %}
    <div class="commit_box">
        {% if not change.deleted %}
        <a class="commit_path" href="{% url 'view' repo_name oid change.path %}">{{ change.path }}</a>
        {% else %}
        <span class="commit_path">{{ change.path }}</span>
        {% endif %}
        <span class="commit_code">{{ change.patch|safe }}</span>
    </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}
