{% load static %}
<nav class="crumbs">
    <ol>
        <li>
            <select name="branches" id="switch-branch" onchange="window.location.href = this.value;">
                {% for branch in branches %}
                {% if branch.name == oid %}
                <option class="branch" value="{{ branch.url }}" selected>{{ branch.name }}</option>
                {% else %}
                <option class="branch" value="{{ branch.url }}">{{ branch.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </li>
        <li class="crumb">
            <a class="branch current-branch" href="/view/{{ oid }}">{{ oid }}<img class="icon" src="{% static 'icons/tree.png' %}" alt="branch" /></a>
        </li>
        {% for crumb in crumbs %}
        <li class="crumb">
            <a class="subtree" href="{{ crumb.url }}">{{ crumb.name }}</a>
        </li>
        {% endfor %}
    </ol>
</nav>

