{% load static %}

<nav class="crumbs">
    <ol>
        <li>
            <script type="text/javascript">
                function switchBranch(branch) {
                    window.location.href = "/view/" + branch;
                }
            </script>
            <select name="branches" id="switch-branch" onchange="switchBranch(this.value);">
                {% for branch in branches %}
                {% if branch != oid %}
                <option class="branch">{{ branch }}</option>
                {% else %}
                <option class="branch" selected>{{ branch }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </li>
        <li class="crumb">
            <a class="branch current-branch" href="{{ root }}">{{ oid }}<img class="icon" src="{% static 'icons/tree.png' %}" alt="branch" /></a>
        </li>
        {% for crumb, name in crumbs %}
        <li class="crumb">
            <a class="subtree" href="{{ crumb }}">{{ name }}</a>
        </li>
        {% endfor %}
    </ol>
</nav>

