{% extends 'base.html' %}
{% load static %}

{% block body_block %}
	<br>
	<main>
        <article>
        	<table>
                <tr>
                    <td>Repository</td>
                    <td>Description</td>
                    <td>Latest Commit</td>
                    <td>Latest Change</td>
                </tr>
            </table>
            <!-- NOTE: Ugly inline css, Jack please fix it, idk how your css works !-->
            <table style="margin-top: 10px">
                {% for repo in repositories %}
                <tr>
                    <td><a href="/{{ repo.name }}/view/{{ repo.default_branch }}">{{ repo.name }}</a></td>
                    <td>{{ repo.description }}</td>
                    <td>Latest Commit</td>
                    <td>Latest Change</td>
                </tr>
                {% endfor %}
            </table>
        </article>
    </main>

{% endblock %}
