{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Manage Repository
{% endblock %}

{% block body_block %}
<h1>Manage Repository</h1>

<b>Make repository public</b>
<input type="checkbox" id="publicize" onclick="publicize(this)"
{% if is_public %}
    checked
{% endif %}
/>

<table class="mfgd_table" id="user-table">
    <tr>
        <th>Username</th>
        <th>User Email</th>
        <th>Can View</th>
        <th>Can Manage</th>
    </tr>
    {% for user in users %}
    <tr>
        <td id="{{ user.id }}-name">{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td><input type="checkbox" id="{{ user.id }}-visibility"
        {% if user.can_view or user.can_manage %}
            checked
        {% endif %}
        onclick="update_perm(this)" />
        <td><input type="checkbox" id="{{ user.id }}-management"
        {% if user.can_manage %}
            checked
        {% endif %}
        onclick="update_perm(this)" />
    </tr>
    {% endfor %}
</table>

<div id="serv-msg"></div>

<script>
function make_req(json, success, failure) {
    var msg_field = document.getElementById("serv-msg");
    var xhr = new XMLHttpRequest();

    xhr.onloadend = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            if (xhr.status == 200) {
                msg_field.innerHTML = "<strong>" + success + "</strong>";
            } else {
                msg_field.innerHTML = "<strong>" + failure + "</strong>";
            }
        } else {
            msg_field.innerHTML = "<strong>Request failed</strong>";
        }
    }
    xhr.open("POST", "{% url 'manage_repo' repo_name %}");
    xhr.setRequestHeader("Content-Type", "application/json; charset=utf-8");
    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
    xhr.send(json);

}

function publicize(box) {
    const json = JSON.stringify({
            "action": "publicize",
            "public": box.checked
        });
    const success = "Successfully changed gobal visibility ";
    const failure = "Failed to changed global visibility";
    make_req(json, success, failure);
}

function update_perm(box) {
    const [user_id, category] = box.id.split("-");
    const name = document.getElementById(user_id + "-name").innerHTML;
    if (!box.checked && category === "visibility") {
        document.getElementById(user_id + "-management").checked = box.checked;
    } else if (box.checked && category === "management") {
        document.getElementById(user_id + "-visibility").checked = box.checked;
    }

    const json = JSON.stringify({
        "action": "update_perm",
        "id": user_id,
        "visible": document.getElementById(user_id + "-visibility").checked,
        "manage": document.getElementById(user_id + "-management").checked
    });

    const success = "Successfully updated permissions for user: " + name;
    const failure = "Failed to update permissions for user: " + name;
    make_req(json, success, failure);
}
</script>
{% endblock %}
