{% extends 'base.html' %}
{% load static %}

{% block title_block %}Manage Admins{% endblock %}

{% block body_block %}
    <center><a href="{% url 'add_repo' %}"><button style="padding: 10px 10px; text-align: center;">Add a repository</button></a></center>
    <br><br>
	<table class="mfgd_table">
    <tr>
        <th>Repository</th>
        <th>Description</th>
        <th>Default branch</th>
        <th>Delete</th>
    </tr>
    {% for repo in repositories %}
    <tr>
        <td><a href="/{{ repo.name }}/view/{{ repo.default_branch }}">{{ repo.name }}</a></td>
        <td>{{ repo.description|truncatechars:30 }}</td>
        <td>{{ repo.default_branch }}</td>
        <td>
            <button type="submit"><a href="delete_repo/{{ repo.name }}" />Delete</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}