{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Profile
{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'style/profile.css' %}" />
{% endblock %}

{% block body_block %}
<h1 class="profile_heading">User Profile</h1>
<div class="profile_body">
    <div class="container">
        <img class="profile_img" src="{{ user.userprofile.image.url }}">
        <h2 >{{ user.username }}</h2>
        <p>{{ user.email }}</p> 
    </div>

    <form method="POST" action="{% url 'profile' %}" id="profileform">
        {% csrf_token %}
        {{ u_form.as_p }}  
        {{ form.as_p }}
        {{ p_form.as_p }}
    </form>
    <button class="button" form="profileform" type="submit">Update</button>
</div>
{% endblock %}
