{% extends 'base.html' %}
{% load static %}

{% block body_block %}
    
    {% load select_icon %}
    {% include "crumbs.html" %}
    <main>
        <article>
            <table>
                {% for entry in entries %}
                <tr>
                    <td class="{{ entry.type_str }}"><a href="{{ entry.name }}/">
                    {% select_icon entry %}
                    {{ entry.name }}</a></td>
                    <td class="commit-msg">{{ entry.last_change.message }}</a></td>
                    <td class="commit-id"><a class="commit" href="#">{{ entry.last_change.short_id }}</a></td>
                    <td class="commit-date">
                        <time datetime="{{ entry.change_time }}">{{ entry.change_time }}</time>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </article>
    </main>
{% endblock %}