{% load static %}
{% load create_crumbs %}

<!DOCTYPE html>
<html>
    <head>
        <title>Tree</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Page style !-->
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <nav class="menu">
            <a href="commits/">Commits</a>
            <a href="tree/">Tree</a>
            <a href="login/">Login</a>
        </nav>

        {% create_crumbs oid path branches %}

        <main>
            <article>
                <table>
                    {% for entry in entries %}
                    <tr>
                        <td class="{{ entry.type_str }}"><a href="{{ entry.name }}/">
                        {% if entry.type == 3 %}
                        <img class="icon" src="{% static 'icons/file.png' %}" alt="blob" />
                        {% else %}
                        <img class="icon" src="{% static 'icons/dir.png' %}" alt="blob" />
                        {% endif %}
                        {{ entry.name }}</a></td>
                        <td class="commit-msg">update to include numbers for highlightAll</a></td>
                        <td class="commit-id"><a class="commit" href="#">111fee7</a></td>
                        <td class="commit-date"><time datetime="2019-22-01">2019-22-01</time></td>
                    </tr>
                    {% endfor %}
                </table>
            </article>
        </main>
    </body>
</html>
